<div class="col-md-8 mx-auto">
    <h2>{{vm.titulo}}</h2>
    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Data de pagamento:</label>
                <input ng-model="vm.pagamento.dataPagamento" type="datetime" class="form-control text-right">
            </div>
        </div>
        <div class="form-group">
            <label>Entrada:</label>
            <select 
                class="form-control"
                ng-model="vm.pagamento.entrada"
                ng-options="item as item.animal.nome for item in vm.entradas track by item._id">
            </select>
        </div>
        <div class="text-right">
            <button ng-click="vm.save()" type="button" class="btn btn-primary">Salvar</button>
            <button ui-sref="pagamentoList" type="button" class="btn btn-danger">Cancelar</button>
        </div>
    </form>
    <!-- Modal -->
    <div class="modal fade" id="modalItem" tabindex="-1" role="dialog" aria-labelledby="modalItemLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalItemLabel">Item de pagamento</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Servico:</label>
                        <select 
                            class="form-control"
                            ng-model="vm.itemSelecionado.servico"
                            ng-options="item as item.descricao for item in vm.servicos track by item._id">
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Quantidade:</label>
                            <input ng-model="vm.itemSelecionado.quantidade" type="number" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Preço:</label>
                            <input ng-model="vm.itemSelecionado.preco" type="number" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Total:</label>
                            <input ng-model="vm.itemSelecionado.total" type="number" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" ng-click="vm.saveItem()" class="btn btn-primary">Salvar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
    </div>
</div>
